* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* ヘッダー*/

header {
    background-color: black;
    /* 背景色は画面いっぱいに */
}

.header__container {
    max-width: 1540px;
    /* PC (1400-1540px) で崩れない */
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
}

.header__logo,
.header__search,
.header__list {
    margin: 8px 0px;
    flex: 3;
}

.header__logo img {
    width: 400px;
    /* 画面サイズが変わっても固定 */
    height: auto;
}

.header__search-input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding-left: 32px;
    /* プレースホルダーの表示位置 */
}

.header__search-input::placeholder {
    color: black;
}

.header__list {
    list-style: none;
    display: flex;
    margin-right: 24px;
    gap: 16px;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__btn--logout{
    background: black;
    color: white;
    font-size: 0.9rem;
    border: none;
}

.header__link{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.header__link--sell{
    color: black;
    background-color: white;
    padding: 8px 16px;
    border-radius: 5px;
}

/* .btn--search{
    width: 15%;
} */


/* ヘッダー ここまで*/

.main__container{
    max-width: 1540px;
    /* PC (1400-1540px) で崩れない */
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.btn {
    background: rgb(245, 110, 95);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 16px 0;
    height: 50px;
}

.link {
    background: rgb(245, 110, 95);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 16px 0;
    height: 50px;
}

input,
textarea,
select {
    outline: none;
}

.item__msg--suspended {
    color: #fa2323;
    font-weight: bold;
    font-size: 0.9rem;
}